@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100..700');
@import "tailwindcss";

@theme {
    --font-sans: "Inter Tight", sans-serif;

    --color-solid-purple: #6c3ef5;
    --color-normal-purple: #7949ff;
    --color-light-purple: #9370ff;
    --color-diluted-purple: #f1ecff;

    --color-solid-gray: #3b3b3b;
    --color-light-gray: #f4f4fb;

    /* Matrix Board Colors */
    --color-standard-bg: #f4effa;

    --color-light-blue: #4e71ff;
    --color-solid-blue: #3a59d1;
    --color-error-red: #d32d2d;
    --color-light-grey: #f2f2f2;
    --color-solid-black: #212327;

    --color-system-gray: #757575;

    --color-pale-blue: #c4d1f3;
    --color-blue-grey: #f5f7fc;

    --text-standard-size: 0.9rem;

    --animate-modal-enter: modal-enter 320ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
    --animate-modal-exit: modal-exit 220ms cubic-bezier(0.4, 0, 1, 1) forwards;
}

@keyframes modal-enter {
    from {
        transform: translateY(-24px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes modal-exit {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-24px);
        opacity: 0;
    }
}

/* Disable the default styling applied when auto filling values in input form*/
input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #000 !important;
    font-family: inherit !important;
    box-shadow: 0 0 0 1000px white inset !important;
}

/* Hide number input spinners */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hidden by default */
.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Show scrollbar on hover */
.hide-scrollbar:hover {
    scrollbar-width: auto; /* Firefox */
}

.hide-scrollbar:hover::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.6rem;
}

/* Keep your existing global styles */
::-webkit-scrollbar-thumb {
    background: #d4ddf8;
}

::-webkit-scrollbar-thumb:hover {
    background: #c4d1f3;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
    transition: background-color 0.2s ease;
}
